#!/bin/zsh

# Install and/or update all the plugins, but only once a week:
# https://www.chezmoi.io/user-guide/frequently-asked-questions/usage/#how-do-i-run-a-script-periodically
# {{ output "date" "+%V" | trim }}

echo "Updating vim plugins once a week"
vim -T builtin_dumb --not-a-term +PlugInstall +PlugUpdate +PlugClean! +qall

# Not sure why .chezmoiremove doesn't work to remove this old directory.
rm -rf .config/vim/plugged
